/*********************GENERAL*****************************/

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/**********MAIN CONTENT************/

#wrapper {
  width: 50%; /* Utilisez toute la largeur disponible */
  padding: 20px; /* Ajoutez du padding pour un meilleur rendu */
}

#todoCards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Permet aux cartes de se repositionner sur plusieurs lignes si nécessaire */
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.todoCard {
  display: flex;
  flex-direction: column;
  position: relative; /* Pour permettre le positionnement absolu de .delBtn à l'intérieur de .task */
  max-width: 300px; /* Définir une largeur maximale pour les cartes */
  flex: 1 1 250px; /* Permettre aux cartes de s'adapter à l'espace disponible */
}

/* Icône poubelle */
.delBtn {
  position: absolute; /* Position absolue pour la placer dans .task */
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

/* Zone de texte de la tâche */
.task {
  resize: none;
  width: 100%; /* Assurez-vous que la zone de texte prend toute la largeur de la carte */
  height: 300px;
  position: relative; /* Positionner l'icône à l'intérieur de .task */
}

/* Bouton d'ajout de tâche */
#btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px; /* Ajouter un peu d'espace au-dessus du bouton */
}
